.hero {
  position: relative;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
  color: white;
  background-color: var(--w-brand-500);
  
  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.heroTitle {
  font-size: 4rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 996px) {
    font-size: 3rem;
  }
}

.heroTitleLogo {
  @media screen and (max-width: 540px) {
    display: none;
  }
}

.heroTitleBrand {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: 996px) {
    font-size: 2rem;
  }
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
